@media (min-width:992px) {
    
    .buttons{
        display: flex;
    }
    .buttons button{
        font-size: 0.7rem;
        background-color: #DCDCDC;
        font-weight: bold;
        width: 120px;
        height: 50px;
        padding: 0rem;
        margin: 0.5rem;
        border:0;
    }
}

.content h2{
    color: #0054CE;
    font-size: 25px;
    font-weight: bold;
    margin:1.5rem 0 3rem;
}
.content .transfer{
    display: flex;
    padding: 2.5rem;
    margin-bottom: 1rem;
    border: 1px solid #707070F2;
}
.content .transfer ul{
    padding: 0;
    width: 100%;
    margin: 0;
}
.content .transfer ul li{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30%;
    gap: 10% 2%;
}
.content .transfer ul li div{
    display: flex;
    margin-right: 10px;
    padding-left: 25%;
    font-weight: 600;
    white-space: nowrap;
}
.content .transfer .state{
    display: flex;
    align-items: center;
}
.content .received{
    background-color: #DCF8E8;

}
.content .received .state{
    display: flex;
    align-items: center;
    color: #0054CE;
    font-weight:bold ;
    font-size: larger;
}
.content .received button{
    display: none;
}
.content .not-received .state div,
.content .not-received ul li div:has(div[class="receive-time"]),
.content .not-received ul li div:has(div[class="receive-date"]),
.content .not-received ul li div:has(div[class="transfer-number"]){
    display: none;
}
.content .not-received .state button{
    padding: 5px 20px;
    border: none;
    background-color: #1FB15E;
    color: white;
}
@media (max-width: 1200px) and (min-width:992px){
    .content .transfer ul li{
        font-size: small;
        column-gap: 5%;
    }
}

    /* page 2 */
#notification-receive h2{
    margin-bottom: 2rem;
}
.page2{
    width: 27%;
}
.page2 input{
        display: block;
        width: 100%;
        height: 3rem;
        margin-bottom: 1rem;
        border: 1px solid #707070;
}
.page2 button{
    color: white;
    background-color: #0054CE;
    border: 1px solid #707070;
    padding: 10px 30px;
    font-weight: 400;
    font-size: 20px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #DCDCDC;

  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #DCDCDC;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #DCDCDC;

  }